<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Counter</title>
</head>
<body>
    

    <h1>Counter:</h1>

    <h3>This page has been viewed {{count}} times.</h3>


    <form action="/two", method="post">
        <input type="submit" name="plus2" value="count plus 2">
    </form>

    <form action="/reset", method="post">
        <input type="submit" name="reset" value="reset count to 1">
    
    </form>

</body>
</html>