<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Ninja Gold</title>
    </head>


    <body>
        <div id="wrapper">
            <p>Gold total: {{gold}}</p>
            
            <div class="boxes">
                <div id="box1">
                    <h4>Farm</h4>
                    <p class="green">(earns 10-20 gold)</p>
                    <form action="/process_money" method="POST">
                        <input type="hidden" name="action" value="farm">
                        <input type="submit" name="Farm" value="Find Gold!">
                    </form>
                </div>
                <div id="box2">
                    <h4>Cave</h4>
                    <p class="green">(earns 5-10 gold)</p>
                    <form action="/process_money" method="POST">
                        <input type="hidden" name="action" value="cave">
                        <input type="submit" name="Cave" value="Find Gold!">
                    </form>

                </div>
                <div id="box3">
                    <h4>House</h4>
                    <p class="green">(earns 2-5 gold)</p>
                    <form action="/process_money" method="POST">
                        <input type="hidden" name="action" value="house">
                        <input type="submit" name="House" value="Find Gold!">
                    </form>
                </div>
                <div id="box3">
                    <h4>Casino</h4>
                    <p class="green" class="red">(earns/takes) 0-50 gold)</p>
                    <form action="/process_money" method="POST">
                        <input type="hidden" name="action" value="casino">
                        <input type="submit" name="Casino" value="Find Gold!">
                    </form>
                </div>
            </div>
            <br>
            <div>
                <form action="/process_money" method="POST">
                    <input type="hidden" name="action" value="restart">
                    <input type="submit" name="Restart" value="START OVER">
                </form>
            </div>
            <p>Activity log:</p>
                <div>
                    {{activities}}
                </div>

        </div>
    </body>
</html>