<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Edit user {{user.id}}</h1>
    {% if messages %}
		{% for x in messages %}
			<p>{{ x.message }}</p>
		{% endfor %}
	{% endif %}

    <form action="/{{user.id}}/update" method="POST">
        {% csrf_token %}
        <label for="first">First Name:</label>
        <input type="text" name="first" value="{{user.first}}">
        <label for="last">Last Name:</label>
        <input type="text" name="last" value="{{user.last}}">
        <label for="email">Email</label>
        <input type="text" name="email" value="{{user.email}}">
        <input type="submit" name="update" value="Update">
    </form>

    <a href="/{{user.id}}/show">Show</a> <a href="/">Go Back</a>
</body>
</html>