<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete a course</title>
</head>
<body>
    <h3>Are you sure you want to delete the following course?</h3>

    <h5>Name: {{course.name}}</h5>
    <h5>Description: {{course.descriptions.desc}}</h5>

    <form action="{%url 'courses:index' %}" method="POST">
        {% csrf_token %}
        <input type="submit" name="no" value="NO!">
    </form>
    <form action="{%url 'courses:destroy' id=course.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" name="yes" value="YES!">
    </form>
</body>
</html>